@import "../../../variables";
owl-carousel {
  .item {
    padding: 20px 0;
    @media (min-width: $bp-md) {
      padding: 0;
    }

    img {
      width: 60%;
      display: block;
      margin: 0 auto;
    }
  }
}

.product-sizes {
  padding: 0;
}

.row {
  position: relative;
}

.cart-alert {
  position: absolute;
  right: -100%;
  transition: .3s;
  opacity: 0;
  top: -35px;

  &.open {
    right: 0;
    opacity: 1;
    transition: .3s;
  }
}
