<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <h4>About Zalando</h4>
        <div class="links-block">
          <a href="#">About Us</a>
          <a href="#">Careers</a>
          <a href="#">Corporate Website</a>
          <a href="#">Legal Notice</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <h4>Hel & Advice</h4>
        <div class="links-block">
          <a href="#">All Help Topics</a>
          <a href="#">Delivery Methods</a>
          <a href="#">Payment Methods</a>
          <a href="#">Buy Gift Card</a>
          <a href="#">Contact Us</a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <h4>Find Us on</h4>
        <div class="icon-list">
          <a href="https://www.instagram.com/zalando/" target="_blank"><i class="fa fa-instagram"
                                                                          aria-hidden="true"></i></a>
          <a href="https://pl-pl.facebook.com/zalando.polska/" target="_blank"><i
            class="fa fa-facebook-square"
            aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/user/ZalandoTV" target="_blank"><i class="fa fa-youtube-square"
                                                                              aria-hidden="true"></i></a><a
          href="https://twitter.com/zalando"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
