/* You can add global styles to this file, and also import other style files */
@import "variables";
app-products,
app-product{
  flex: 1;
  padding: 25px 0;

  @media (min-width: $bp-md)  {
    display: flex;
    align-items: center;
  }
}
.owl-nav {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
